<a href="https://colab.research.google.com/github/manikanta741/datamining/blob/main/basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#circle area
r=3
pi=3.14
area =pi*r**2
print(area)

28.26

In [3]:
#circle circumference
circumference=2*pi*r
print(circumference)

18.84

In [4]:
#ascii  value of character
char='e'
print(ord(char))

101

In [6]:
#area of triangle
h=3
b=4
area=0.5*b*h
print(area)

6.0

In [7]:
#area of triangle by usiing heron's formula
a=3
b=4
c=5
s=(a+b+c)/2
area=(s*(s-a)*(s-b)*(s-c))**0.5
print(area)

6.0

In [9]:
#simple interest
p=1000
r=10
t=2
si=(p*t*r)/100
print(si)

200.0

In [12]:
#gross salary= basic salary+house rent allowance (HRA)+ dearness allowance (DA).
bs=float(input("enter the basic salary"))
hra=0.2*bs#(20% of bs)
da=0.1*bs#(10% of bs)
gs=bs+hra+da
print(gs)

enter the basic salary20000
26000.0

In [15]:
#total marks and percentage of 5 subjects
t=60
e=70
m=80
s=90
so=100
total_marks=t+e+m+s+so
print(total_marks)

400

In [14]:
percentage=(total_marks/500)*100
print(percentage)

80.0

In [16]:
#coverting tempeature celsius to farenheit
celsius=37
farenheit=(celsius*1.8)+32
print(farenheit)

98.60000000000001

In [17]:
num=7
if num==0:
  print("zero")
elif(num==1):
  print("fact is 1")
else:
  fact=1
  for i in range(1,num+1):
    fact=fact*i
  print(fact)

5040

In [19]:
#Read Integer (N) and Print the First Three Powers (N^1, N^2, N^3)
N = int(input("Enter an integer: "))



# Calculate the first three powers
N1 = N ** 1
N2 = N ** 2
N3 = N ** 3

# Print the results
print(N1)
print(N2)
print(N3)

Enter an integer: 5
5
25
125

In [24]:
import math

gcd=math.gcd(a,b)
a=4
b=8
print(gcd)

1

In [27]:
import math

lcm=math.lcm(a,b)
a=4
b=8
print(lcm)

8