<a href="https://colab.research.google.com/github/manikanta741/datamining/blob/main/flatexp6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
corpus = ['data science is one of the most important fields of science', 'this is one of the best data science courses',
'data scientists analyze data' ]
words_set = set()
for doc in corpus:
  words = doc.split(' ')
  words_set = words_set.union(set(words))
print('Number of words in the corpus:',len(words_set))
print('The words in the corpus: \n', words_set)

Number of words in the corpus: 14
The words in the corpus:
 {'is', 'one', 'best', 'data', 'scientists', 'most', 'of', 'the', 'fields', 'important', 'analyze', 'science', 'courses', 'this'}

In [18]:
print("IDF of: ")

idf = {}

for w in words_set:
  k = 0
  for i in range(n_docs):
    if w in corpus[i].split():
      k+= 1
  idf[w] = np.log10(n_docs / k)
  print(f'{w:>15}: {idf[w]:>10}' )

IDF of:
             is: 0.17609125905568124
            one: 0.17609125905568124
           best: 0.47712125471966244
           data:        0.0
     scientists: 0.47712125471966244
           most: 0.47712125471966244
             of: 0.17609125905568124
            the: 0.17609125905568124
         fields: 0.47712125471966244
      important: 0.47712125471966244
        analyze: 0.47712125471966244
        science: 0.17609125905568124
        courses: 0.47712125471966244
           this: 0.47712125471966244

SyntaxError: invalid syntax (<ipython-input-22-075b2380468c>, line 4)