<a href="https://colab.research.google.com/github/manikanta741/datamining/blob/main/hdp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as  np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn  import metrics

In [7]:
data=pd.read_csv("/content/archive (13).zip")
print(data)

      age     sex  chest_pain_type  resting_blood_pressure  cholestoral  \
0      52    Male   Typical angina                     125          212
1      53    Male   Typical angina                     140          203
2      70    Male   Typical angina                     145          174
3      61    Male   Typical angina                     148          203
4      62  Female   Typical angina                     138          294
...   ...     ...              ...                     ...          ...
1020   59    Male  Atypical angina                     140          221
1021   60    Male   Typical angina                     125          258
1022   47    Male   Typical angina                     110          275
1023   50  Female   Typical angina                     110          254
1024   54    Male   Typical angina                     120          188

         fasting_blood_sugar               rest_ecg  Max_heart_rate  \
0       Lower than 120 mg/ml  ST-T wave abnormality             168
1     Greater than 120 mg/ml                 Normal             155
2       Lower than 120 mg/ml  ST-T wave abnormality             125
3       Lower than 120 mg/ml  ST-T wave abnormality             161
4     Greater than 120 mg/ml  ST-T wave abnormality             106
...                      ...                    ...             ...
1020    Lower than 120 mg/ml  ST-T wave abnormality             164
1021    Lower than 120 mg/ml                 Normal             141
1022    Lower than 120 mg/ml                 Normal             118
1023    Lower than 120 mg/ml                 Normal             159
1024    Lower than 120 mg/ml  ST-T wave abnormality             113

     exercise_induced_angina  oldpeak        slope  \
0                         No      1.0  Downsloping
1                        Yes      3.1    Upsloping
2                        Yes      2.6    Upsloping
3                         No      0.0  Downsloping
4                         No      1.9         Flat
...                      ...      ...          ...
1020                     Yes      0.0  Downsloping
1021                     Yes      2.8         Flat
1022                     Yes      1.0         Flat
1023                      No      0.0  Downsloping
1024                      No      1.4         Flat

     vessels_colored_by_flourosopy        thalassemia  target
0                              Two  Reversable Defect       0
1                             Zero  Reversable Defect       0
2                             Zero  Reversable Defect       0
3                              One  Reversable Defect       0
4                            Three       Fixed Defect       0
...                            ...                ...     ...
1020                          Zero       Fixed Defect       1
1021                           One  Reversable Defect       0
1022                           One       Fixed Defect       0
1023                          Zero       Fixed Defect       1
1024                           One  Reversable Defect       0

[1025 rows x 14 columns]
   age     sex chest_pain_type  resting_blood_pressure  cholestoral  \
0   52    Male  Typical angina                     125          212
1   53    Male  Typical angina                     140          203
2   70    Male  Typical angina                     145          174
3   61    Male  Typical angina                     148          203
4   62  Female  Typical angina                     138          294

      fasting_blood_sugar               rest_ecg  Max_heart_rate  \
0    Lower than 120 mg/ml  ST-T wave abnormality             168
1  Greater than 120 mg/ml                 Normal             155
2    Lower than 120 mg/ml  ST-T wave abnormality             125
3    Lower than 120 mg/ml  ST-T wave abnormality             161
4  Greater than 120 mg/ml  ST-T wave abnormality             106

  exercise_induced_angina  oldpeak        slope vessels_colored_by_flourosopy  \
0                      No      1.0  Downsloping                           Two
1                     Yes      3.1    Upsloping                          Zero
2                     Yes      2.6    Upsloping                          Zero
3                      No      0.0  Downsloping                           One
4                      No      1.9         Flat                         Three

         thalassemia  target
0  Reversable Defect       0
1  Reversable Defect       0
2  Reversable Defect       0
3  Reversable Defect       0
4       Fixed Defect       0

In [8]:
print(data.head())

   age     sex chest_pain_type  resting_blood_pressure  cholestoral  \
0   52    Male  Typical angina                     125          212
1   53    Male  Typical angina                     140          203
2   70    Male  Typical angina                     145          174
3   61    Male  Typical angina                     148          203
4   62  Female  Typical angina                     138          294

      fasting_blood_sugar               rest_ecg  Max_heart_rate  \
0    Lower than 120 mg/ml  ST-T wave abnormality             168
1  Greater than 120 mg/ml                 Normal             155
2    Lower than 120 mg/ml  ST-T wave abnormality             125
3    Lower than 120 mg/ml  ST-T wave abnormality             161
4  Greater than 120 mg/ml  ST-T wave abnormality             106

  exercise_induced_angina  oldpeak        slope vessels_colored_by_flourosopy  \
0                      No      1.0  Downsloping                           Two
1                     Yes      3.1    Upsloping                          Zero
2                     Yes      2.6    Upsloping                          Zero
3                      No      0.0  Downsloping                           One
4                      No      1.9         Flat                         Three

         thalassemia  target
0  Reversable Defect       0
1  Reversable Defect       0
2  Reversable Defect       0
3  Reversable Defect       0
4       Fixed Defect       0

In [9]:
print(data.shape)

(1025, 14)

In [11]:
print(data['target'].value_counts())

target
1    526
0    499
Name: count, dtype: int64

In [12]:
print(data.isnull().sum())

age                              0
sex                              0
chest_pain_type                  0
resting_blood_pressure           0
cholestoral                      0
fasting_blood_sugar              0
rest_ecg                         0
Max_heart_rate                   0
exercise_induced_angina          0
oldpeak                          0
slope                            0
vessels_colored_by_flourosopy    0
thalassemia                      0
target                           0
dtype: int64

In [14]:
x=data.drop(columns='target' ,axis=1)
y=data['target']
print(x)

      age     sex  chest_pain_type  resting_blood_pressure  cholestoral  \
0      52    Male   Typical angina                     125          212
1      53    Male   Typical angina                     140          203
2      70    Male   Typical angina                     145          174
3      61    Male   Typical angina                     148          203
4      62  Female   Typical angina                     138          294
...   ...     ...              ...                     ...          ...
1020   59    Male  Atypical angina                     140          221
1021   60    Male   Typical angina                     125          258
1022   47    Male   Typical angina                     110          275
1023   50  Female   Typical angina                     110          254
1024   54    Male   Typical angina                     120          188

         fasting_blood_sugar               rest_ecg  Max_heart_rate  \
0       Lower than 120 mg/ml  ST-T wave abnormality             168
1     Greater than 120 mg/ml                 Normal             155
2       Lower than 120 mg/ml  ST-T wave abnormality             125
3       Lower than 120 mg/ml  ST-T wave abnormality             161
4     Greater than 120 mg/ml  ST-T wave abnormality             106
...                      ...                    ...             ...
1020    Lower than 120 mg/ml  ST-T wave abnormality             164
1021    Lower than 120 mg/ml                 Normal             141
1022    Lower than 120 mg/ml                 Normal             118
1023    Lower than 120 mg/ml                 Normal             159
1024    Lower than 120 mg/ml  ST-T wave abnormality             113

     exercise_induced_angina  oldpeak        slope  \
0                         No      1.0  Downsloping
1                        Yes      3.1    Upsloping
2                        Yes      2.6    Upsloping
3                         No      0.0  Downsloping
4                         No      1.9         Flat
...                      ...      ...          ...
1020                     Yes      0.0  Downsloping
1021                     Yes      2.8         Flat
1022                     Yes      1.0         Flat
1023                      No      0.0  Downsloping
1024                      No      1.4         Flat

     vessels_colored_by_flourosopy        thalassemia
0                              Two  Reversable Defect
1                             Zero  Reversable Defect
2                             Zero  Reversable Defect
3                              One  Reversable Defect
4                            Three       Fixed Defect
...                            ...                ...
1020                          Zero       Fixed Defect
1021                           One  Reversable Defect
1022                           One       Fixed Defect
1023                          Zero       Fixed Defect
1024                           One  Reversable Defect

[1025 rows x 13 columns]

In [15]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=2)
print(x.shape,x_train.shape,x_test.shape)

(1025, 13) (820, 13) (205, 13)

In [19]:
model=LogisticRegression()
model.fit(x_train,y_train)

ValueError: could not convert string to float: 'Male'