<a href="https://colab.research.google.com/github/manikanta741/datamining/blob/main/if%20and%20else.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#greatest of 23  numbers
num1=4
num2=5
num3=6
if (num1>num2) and(num1>num3):
    print("num1 is greater")
elif (num2>num1) and (num2>num3):
    print("num2 is greater")
else:
    print("num3 is greater")

num3 is greater

In [6]:
#Character Is Vowel or Consonant
vowel='aeiou'
char='b'
if char.lower() in vowel:
    print("char is vowel")
else:
    print("char is constant")

char is constant

In [9]:
#A Character Is an Alphabet or Not
char='a'
if len(char)==1 and char.isalpha():
  print("char is alphabet")
else:
  print("char is not alphabet")

char is alphabet

In [10]:
#check uppercase, Lowercase, Special Character, or Digitin python
char = input("Enter a single character: ")

# Check if the input is a single character
if len(char) == 1:
    if char.isupper():
        print(f"{char} is an uppercase letter.")
    elif char.islower():
        print(f"{char} is a lowercase letter.")
    elif char.isdigit():
        print(f"{char} is a digit.")
    else:
        print(f"{char} is a special character.")
else:
    print("Invalid input. Please enter a single character.")

Enter a single character: i
i is a lowercase letter.

In [14]:
#leap year
year=2000
if year%4==0 and(year%100!=0 or year%400==0):
    print("leap year")
else:
    print("not leap year")

leap year

In [15]:
#Check whether a number is divisible by 5 and 11 or not.
num=15
if num%5==0 and num%11==0:
    print("divisible by 5 and 11")
else:
    print("not divisible by 5 and 11")

not divisible by 5 and 11

In [19]:
month=int(input("enter a month"))
days_in_month = {
        1: 31,  # January
        2: 28,  # February (common year)
        3: 31,  # March
        4: 30,  # April
        5: 31,  # May
        6: 30,  # June
        7: 31,  # July
        8: 31,  # August
        9: 30,  # September
        10: 31,  # October
        11: 30,  # November
        12: 31   # December
    }
if month in days_in_month:
  print(days_in_month[month])
else:
  print(None)  # Invalid month number

enter a month11
30

In [24]:
day=int(input("enter a day"))
day_in_week = {
        1: "monday",
        2: "tuesday",
        3: "wednesday",
        4: "thursday",
        5: "friday",
        6: "saturday",
        7: "sunday"
}
if day in day_in_week:
  print(day_in_week[day])
else:
  print(None)

enter a day4
thursday

In [25]:
#quadratic equation
a=1
b=-3
c=2
d=b**2-4*a*c
r1=(-b+d)/2*a
r2=(-b-d)/2*a
print(r1,r2)

2.0 1.0

In [29]:
cp=1000
sp=120
if sp>cp:
  print(sp-cp,"profit")
else:
  print(cp-sp,"loss")

880 loss

In [31]:
#check wheathher triangle is equilateral,isoceles,scalene
ab=3
bc=3
cd=3
if ab==bc==cd:
  print("equilateral")
elif ab==bc or bc==cd or ab==cd:
  print("isosceles")
else:
  print("scalene")

equilateral