<a href="https://colab.research.google.com/github/manikanta741/datamining/blob/main/pre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#positive or negative
num=5
if num>0:
  print("positive")
else:
  print("negative")

positive

In [5]:
#even or odd
num=8
if num%2==0:
  print("even")
else:
  print("odd")

even

In [6]:
#sum of first n natural numbers
num=10
sum=0
for i in range(1,num+1):
  sum=sum+i
print(sum)

55

In [10]:
#sum of nnatural number with in a rangen
num1,num2=3,13
sum=0
for i in range(num1,num2):
  sum+=i
print(sum)

75

In [ ]:
num=12345
sum=0
while num>0:
  sum=num%10
  num=num//10
print(sum)

In [ ]:
num=121
temp=num
rev=0
while num>0:
  digit=num%10
  rev=rev*10+digit
  num=num//10
if temp==rev:
  print("palindrome")
else:
  print("not palindrome")

In [ ]:
#armstrong
num=121
temp=num
sum=0
while num>0:
  digit=num%10
  sum=sum+digit*len(num)
  num=num//10
if temp==sum:
  print("armstrong")
else:
  print("not armstrong")

In [ ]:
#reverse of  anum
num=121
temp=num
rev=0
while num>0:
  digit=num%10
  rev=rev*10+digit
  num=num//10
print(rev)

In [ ]:
a=3
b=4
if a>b:
  print("a is greater")
else:
  print("b is greater")

In [ ]:
a=3
b=4
c=5
if a>b and a>c:
  print("a is greater")
elif b>a and b>c:
  print("b is greater")
else:
  print("c is greater")

In [ ]:
year=2099
if year%4==0  and year%100!=0 or year%400==0:
  print("leap year")
else:
  print("not leap year")

In [ ]:
num7
for i in range(2,num):
  if num%i==0:
    print(""not prime)
else:
  print("prime")

In [ ]:
low=23
high=39
for i in range(low,high):
  for j in range(2,i):
    if i%j==0:
      break
    else:
      print(i)