<a href="https://colab.research.google.com/github/manikanta741/datamining/blob/main/setsbasicprograms.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#intersection of two sets
def sets(set1,set2):
  return set1.intersection(set2)
set1={1,2,3}
set2={2,3,4}
print(sets(set1,set2))

{2, 3}

In [2]:
#union of two sets
def sets(set1,set2):
  return set1.union(set2)
set1={1,2,3}
set2={2,3,4}
print(sets(set1,set2))

{1, 2, 3, 4}

In [4]:
#difference of two sets
def sets(set1,set2):
  return set1.difference(set2)
set1={1,2,3}
set2={2,3,4}
print(sets(set1,set2))

{1}

In [9]:
#check wheather set1 is subset of another set
set1={1,2,3}
set2={1,2,3,4}
for i in range(len(set1)):
  if i in set2:
    print("set1 is subset of set2")
    break
else:
  print("set1 is not subset of set2")

set1 is subset of set2

In [11]:
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4}

if set1.issubset(set2):
    print("set1 is a subset of set2")
else:
    print("set1 is not a subset of set2")

set1 is a subset of set2

In [10]:
#superset check
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4}

if set2.issuperset(set1):
    print("set2 is a superset of set1")
else:
    print("set2 is not a superset of set1")

set2 is a superset of set1

In [12]:
#symmetric difference
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4}

symmetric_difference = set1.symmetric_difference(set2)

print("Symmetric Difference:", symmetric_difference)

Symmetric Difference: {4}

In [17]:
#disjoint sets
def are_sets_disjoint(set1, set2):
    """
    Check if two sets are disjoint.

    Parameters:
    set1 (set): The first set.
    set2 (set): The second set.

    Returns:
    bool: True if the sets are disjoint, False otherwise.
    """
    return set1.isdisjoint(set2)
set1={1,2,3}
set2={4,5,6}
print(are_sets_disjoint(set1,set2))

True

In [16]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
set3 = {3, 4, 5}

# Check if set1 and set2 are disjoint
print(are_sets_disjoint(set1, set2))  # Output: True

# Check if set1 and set3 are disjoint
print(are_sets_disjoint(set1, set3))  # Output: False

True
False

In [19]:
#Convert a list to a set: Write a function to convert a list to a set.
def convert_list_to_set(lst):
    return set(lst)

my_list = [1, 2, 3, 4, 5]
my_set = convert_list_to_set(my_list)
print(my_set)

{1, 2, 3, 4, 5}

In [20]:
#set to list
def convert_lset_to_list(set):
  return list(set)
set={1,2,3,4,5}
list=convert_lset_to_list(set)
print(list)

[1, 2, 3, 4, 5]

In [21]:
#add elemnent to set
def add_element_to_set(set,element):
  set.add(element)
  return set
set={1,2,3,4,5}
element=6
set=add_element_to_set(set,element)
print(set)
#

{1, 2, 3, 4, 5, 6}

In [22]:
#Remove an element from a set: Write a function to remove an element from a set.
def remove_element(set,element):
  set.remove(element)
  return set
set={1,2,3,4,5}
element=4
set=remove_element(set,element)
print(set)

{1, 2, 3, 5}

In [24]:
#Check if an element is in a set: Write a function to check if an element is in a set.

def check_element(set,element):
  if element in set:
    return True
  else:
    return False
set={1,2,3,4,5}
element=4
print(check_element(set,element))

True