<a href="https://colab.research.google.com/github/manikanta741/datamining/blob/main/swaroopvitb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#BASIC PROBLEMS

In [1]:
#hello world
print("hello world")

hello world

In [2]:
#sum of two num
a=2
b=3
print(a+b)

5

In [3]:
#area of circle
pi=3.14
radius=5
area=pi*radius*radius
print(radius)

5

In [4]:
#swapping of two variables without using temp
a=5
b=6
a=a+b
b=a-b
a=a-b
print(a,b)

6 5

In [5]:
a=5
b=6
a=a^b
b=a^b
a=a^b
print(a,b)

6 5

In [6]:
#celsius to farenheit
celsius=30
farenheit=celsius*(9/5)+32
print(farenheit)

86.0

In [ ]:
#DECISION MAKING

In [7]:
#num is even oor odd
num=6
if(num%2==0):
    print("even")
else:
    print("odd")

even

In [8]:
#palndrome string
str="madam"
if(str==str[::-1]):
    print("palindrome")
else:
    print("not palindrome")

palindrome

In [11]:
#palindrome number
n=124
temp=n
rev=0
while n>0:
  digit=n%10
  rev=rev*10+digit
  n=n//10
if temp==rev:
  print("palindrome")
else:
  print("not palindrome")

not palindrome

In [13]:
#pos,neg,zero
n=5
if n==0:
  print("zero")
elif n>0:
  print("pos")
else:
  print("neg")

pos

In [14]:
#simpple calculator
operation =int(input("enter operation"))
a=int(input("enter a"))
b=int(input("enter b"))
if operation==1:
    print(a+b)
elif operation==2:
    print(a-b)
elif operation==3:
    print(a*b)
elif operation==4:
    print(a/b)

enter operation3
enter a4
enter b3
12

In [16]:
#leap year
year=2004
if (year%4==0 and year%100!=0) or year%400==0:
  print("leap year")
else:
  print("not leap year")

leap year

In [19]:
#anagram
s1="Raju"
s2="Jaru"
str1=s1.lower()
str2=s2.lower()
if sorted(str1)==sorted(str2):
  print("anagram")
else:
  print("not anagram")

not anagram

In [20]:
#armstrong number
n=153
temp=n
sum=0
while  temp>0:
  digit=temp%10
  sum=sum+digit**3
  temp=temp//10

if n==sum:
  print("armstrong")
else:
  print("not arnstrong")

armstrong

In [22]:
#prime number
n=11
for i in range(2,n):
  if n%i==0:
    print("not prime")
    break
else:
  print("prime")

prime

In [34]:
#prime numbers in between range

In [ ]:
LOOOPS

In [35]:
#factorial
num=5
fact=1
for i in range (1,num+1):
  fact=fact*i
  print(fact)

1
2
6
24
120

In [37]:
#reverse of a number
n=124
rev=0
temp=n
while n>0:
  digit=n%10
  rev=rev*10+digit
  n=n//10
print(rev)

421

In [38]:
#sum of the digits in a given number
num=197
sum=0
while num>0:
  sum=sum+num[i
print(sum)

TypeError: object of type 'int' has no len()