<a href="https://colab.research.google.com/github/manikanta741/datamining/blob/main/Untitled40.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#DESCRIPTIVE staticmethod
import numpy as np
import pandas as pd
s=pd.Series([1,2,3,4,5])
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
print(s.describe())

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
dtype: float64

In [4]:
print(s.mean())

3.0

In [5]:
print(s.std())

1.5811388300841898

In [6]:
print(s.min())
print(s.max())

1
5

In [7]:
#data manipulation
a=s.map(lambda x :x*2)
print(a)

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [8]:
print(s.apply(lambda x:x**4))

0      1
1     16
2     81
3    256
4    625
dtype: int64

In [11]:
b=pd.Series([9,5,83,3,65])
print(b.sort_values())

3     3
1     5
0     9
4    65
2    83
dtype: int64

In [12]:
c=s.drop(0)
print(c)

1    2
2    3
3    4
4    5
dtype: int64

In [14]:
print(s.drop(0,inplace=True))

None

In [15]:
#handling missing data
print(s.isnull())

1    False
2    False
3    False
4    False
dtype: bool

In [16]:
print(s.notnull())

1    True
2    True
3    True
4    True
dtype: bool

In [19]:
s=pd.Series([2,3,np.nan,4,np.nan,5])
print(s)

0    2.0
1    3.0
2    NaN
3    4.0
4    NaN
5    5.0
dtype: float64

In [20]:
print(s.fillna(9))

0    2.0
1    3.0
2    9.0
3    4.0
4    9.0
5    5.0
dtype: float64

In [21]:
s=pd.Series([2,3,4,None,5])
print(s)

0    2.0
1    3.0
2    4.0
3    NaN
4    5.0
dtype: float64

In [23]:
print(s.dropna())

0    2.0
1    3.0
2    4.0
4    5.0
dtype: float64

In [ ]:
#indexing,slicing,filtering

In [ ]:
s=pd.Series([2,3,4,5])
print(s)

In [25]:
print(s.iloc[0])
print(s.iloc[-1])

2.0
5.0

In [30]:
m=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(m)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [32]:
print(m.iloc[0])
print(m.iloc[1:4])

1
b    2
c    3
d    4
dtype: int64

In [34]:
print(m.loc['a'])

1

In [37]:
print(m.loc['b':'e'])

b    2
c    3
d    4
e    5
dtype: int64

In [38]:
print(s[s>3])

2    4.0
4    5.0
dtype: float64

In [ ]:
#aggregation

In [41]:
print(m.sum())

15

In [42]:
print(m.cumsum())

a     1
b     3
c     6
d    10
e    15
dtype: int64

In [45]:
print(m.aggregate(['mean','std','sum']))

mean     3.000000
std      1.581139
sum     15.000000
dtype: float64

In [51]:
df=pd.read_csv('/content/Reviews.csv')
print(df)

                                                Review  Liked
0                             Wow... Loved this place.      1
1                                   Crust is not good.      0
2            Not tasty and the texture was just nasty.      0
3    Stopped by during the late May bank holiday of...      1
4    The selection on the menu was great and so wer...      1
..                                                 ...    ...
995  I think food should have flavor and texture an...      0
996                           Appetite instantly gone.      0
997  Overall I was not impressed and would not go b...      0
998  The whole experience was underwhelming, and I ...      0
999  Then, as if I hadn't wasted enough of my life ...      0

[1000 rows x 2 columns]

In [52]:
print(df.head())

                                              Review  Liked
0                           Wow... Loved this place.      1
1                                 Crust is not good.      0
2          Not tasty and the texture was just nasty.      0
3  Stopped by during the late May bank holiday of...      1
4  The selection on the menu was great and so wer...      1

In [53]:
print(df.head(10))

                                              Review  Liked
0                           Wow... Loved this place.      1
1                                 Crust is not good.      0
2          Not tasty and the texture was just nasty.      0
3  Stopped by during the late May bank holiday of...      1
4  The selection on the menu was great and so wer...      1
5     Now I am getting angry and I want my damn pho.      0
6              Honeslty it didn't taste THAT fresh.)      0
7  The potatoes were like rubber and you could te...      0
8                          The fries were great too.      1
9                                     A great touch.      1

In [55]:
print(df.tail())

                                                Review  Liked
995  I think food should have flavor and texture an...      0
996                           Appetite instantly gone.      0
997  Overall I was not impressed and would not go b...      0
998  The whole experience was underwhelming, and I ...      0
999  Then, as if I hadn't wasted enough of my life ...      0

In [56]:
print(df.tail(10))

                                                Review  Liked
990  The refried beans that came with my meal were ...      0
991         Spend your money and time some place else.      0
992  A lady at the table next to us found a live gr...      0
993            the presentation of the food was awful.      0
994           I can't tell you how disappointed I was.      0
995  I think food should have flavor and texture an...      0
996                           Appetite instantly gone.      0
997  Overall I was not impressed and would not go b...      0
998  The whole experience was underwhelming, and I ...      0
999  Then, as if I hadn't wasted enough of my life ...      0

In [57]:
print(df.shape)

(1000, 2)

In [58]:
print(df.columns)

Index(['Review', 'Liked'], dtype='object')

In [59]:
print(df.dtypes)

Review    object
Liked      int64
dtype: object

In [60]:
print(df.describe())

            Liked
count  1000.00000
mean      0.50000
std       0.50025
min       0.00000
25%       0.00000
50%       0.50000
75%       1.00000
max       1.00000

In [61]:
print(df)

                                                Review  Liked
0                             Wow... Loved this place.      1
1                                   Crust is not good.      0
2            Not tasty and the texture was just nasty.      0
3    Stopped by during the late May bank holiday of...      1
4    The selection on the menu was great and so wer...      1
..                                                 ...    ...
995  I think food should have flavor and texture an...      0
996                           Appetite instantly gone.      0
997  Overall I was not impressed and would not go b...      0
998  The whole experience was underwhelming, and I ...      0
999  Then, as if I hadn't wasted enough of my life ...      0

[1000 rows x 2 columns]

In [69]:
reviews=df.loc[:,'Review']
print(reviews)

0                               Wow... Loved this place.
1                                     Crust is not good.
2              Not tasty and the texture was just nasty.
3      Stopped by during the late May bank holiday of...
4      The selection on the menu was great and so wer...
                             ...
995    I think food should have flavor and texture an...
996                             Appetite instantly gone.
997    Overall I was not impressed and would not go b...
998    The whole experience was underwhelming, and I ...
999    Then, as if I hadn't wasted enough of my life ...
Name: Review, Length: 1000, dtype: object

In [70]:
subset=df.loc[10:20,'Liked']
print(subset)

10    1
11    0
12    0
13    1
14    0
15    0
16    1
17    0
18    0
19    0
20    0
Name: Liked, dtype: int64

In [77]:
set=df.iloc[10,[0,1]]
print(set)

Review    Service was very prompt.
Liked                            1
Name: 10, dtype: object

In [88]:
good=df.loc[df['Liked']==1]
print(good)

                                                Review  Liked
0                             Wow... Loved this place.      1
3    Stopped by during the late May bank holiday of...      1
4    The selection on the menu was great and so wer...      1
8                            The fries were great too.      1
9                                       A great touch.      1
..                                                 ...    ...
899                       Overall, a great experience.      1
901  Their regular toasted bread was equally satisf...      1
907  The chips and sals a here is amazing!!!!!!!!!!...      1
909              This is my new fav Vegas buffet spot.      1
922  Every time I eat here, I see caring teamwork t...      1

[500 rows x 2 columns]

In [89]:
bad=df.loc[df['Liked']==0]
print(bad)

                                                Review  Liked
1                                   Crust is not good.      0
2            Not tasty and the texture was just nasty.      0
5       Now I am getting angry and I want my damn pho.      0
6                Honeslty it didn't taste THAT fresh.)      0
7    The potatoes were like rubber and you could te...      0
..                                                 ...    ...
995  I think food should have flavor and texture an...      0
996                           Appetite instantly gone.      0
997  Overall I was not impressed and would not go b...      0
998  The whole experience was underwhelming, and I ...      0
999  Then, as if I hadn't wasted enough of my life ...      0

[500 rows x 2 columns]

In [90]:
t=df.drop(labels='Review',axis=1)
print(t)

     Liked
0        1
1        0
2        0
3        1
4        1
..     ...
995      0
996      0
997      0
998      0
999      0

[1000 rows x 1 columns]

In [95]:
r=df.drop(labels='Liked',axis=1)
print(r)

                                                Review
0                             Wow... Loved this place.
1                                   Crust is not good.
2            Not tasty and the texture was just nasty.
3    Stopped by during the late May bank holiday of...
4    The selection on the menu was great and so wer...
..                                                 ...
995  I think food should have flavor and texture an...
996                           Appetite instantly gone.
997  Overall I was not impressed and would not go b...
998  The whole experience was underwhelming, and I ...
999  Then, as if I hadn't wasted enough of my life ...

[1000 rows x 1 columns]

In [99]:
data={
    'a':[1,2,3],
    'b':[2,3,4],
    'c':[3,4,5]
}
print(data)

{'a': [1, 2, 3], 'b': [2, 3, 4], 'c': [3, 4, 5]}